/* Place custom css here. */

/* Header elements */
.logo_avatar {
    position: relative;
    bottom: -20px;
    left: -20px;
}

.site_header {
    border-bottom: 1px solid lightgray;
}

.twitter_icon_header {
  margin-right: 10px;
    position: relative;
    bottom: -8px;
}

/* Article title styling */
.article_header:after, article h2:after {
  content: "";
    display: block;
    width: 40%;
    padding-top: 10px;
    border-bottom: 2px solid #5d097b;
}

.article_header_under:before {
  content: "";
  border-top: 2px solid #b1acb5;
    display: block;
    width: 30%;
    margin-top: 5px;
}

/* Article subheader correction */
article h2:after {
  padding-top: 5px;
}

/* Email address on the pages */
.my_addr {
  font-weight: bold;
  font-size: 1.2em;
}

/* "Work with me" button */
.header_nav_button {
  background: #4a0762;
    color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}
.header_nav_button:hover {
  background: #621f7a;
}

/* Note above the AddThis buttons */
.article_share_prompt {
  margin-bottom: 10px;
  color: gray;
}

/* Table of Contents styling */
.toc {
  background: #f7f7f7;
  padding: 1vw 2vw;
}
.toc input {
  display: none;
}
.toc label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

#TableOfContents {
  border-top: 1px solid lightgray;
  display: none;
}

#show_contents:checked + #TableOfContents {
  display: block;
}

/* Pieces of text highlighted with purple */
.paragraph_highlight {
  font-size: 1.5em;
    border-left: 2px solid purple;
    padding-left: 2vw;
    line-height: 1.5;
}

/* Thumbnail image in the article list */
.list_thumbnail {
  width: 350px;
  float: left;
    margin: 0 20px 3vw 0;
}

.list_item_description {
  line-height: 1.4;
    margin-top: 5px;
}
