<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P4444WK');</script>
<!-- End Google Tag Manager -->

  <!-- Preventing the elements, especially img without width, from overflowing - against GConsole mobile usability issues-->
  <style>
      :where(body, iframe, pre, img, svg, video, canvas, select) {
          max-width: 100%;
          overflow: auto;
          word-break: break-word;
      }
  </style>

<!-- Google Adsense -->
  <!--  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6967415584756170" crossorigin="anonymous"></script> -->
<!-- End Google Adsense -->

{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ end }}

{{ with .Params.relcanonical }}
  <link rel="canonical" href="{{ . | absURL }}" itemprop="url" />
{{ end -}}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="robots" content="max-image-preview:large"> <!-- for Google Discover -->
  <meta name="p:domain_verify" content="6be5fb8ad56aad327e162f7c2253ab00"/> <!-- Pinterest verification -->

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/favicon-192-192.png" />

  <!-- Title -->
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }} {{ .Title }}{{ end }}</title>

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image"></meta>
  <meta name="twitter:title" content="{{ .Params.title }}"/>
  <meta name="twitter:description" content="{{ .Params.description }}"/>
  <meta name="twitter:creator" content="@NinelBolotova">
  <meta name="twitter:image" content="https://bolnel.github.io/nelsite1{{ .Params.featured }}" />

<meta name="author" content="{{ site.Author.name }}" />
<meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}" />
<meta itemprop="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}" />
<meta property="og:description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}" />
<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", "}}{{ end }}" />

<!-- Image for social sharing -->
  {{ with .Params.featured }}
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" />
{{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
{{ end }}

  <!-- Styles & Scripts -->
  {{ $main_css := resources.Get "main.css" }}
  <!---->
  {{ $custom_css := resources.Get "custom.css" }}
  <!---->
  {{ $css := slice $main_css $custom_css | resources.Concat "main.css" | minify }}
  <link rel="preload stylesheet" as="style" href="{{ $css.Permalink }}?v=2.2.1" />

  {{ if and .IsPage (not site.Params.disableHLJS) }}
  <script
    defer
    src="{{ `highlight.min.js` | absURL }}"
    onload="hljs.initHighlightingOnLoad();"
  ></script>
  {{ end }}

  <!-- Preload -->
  {{ range $.Scratch.Get "social_list" }}
  <link rel="preload" as="image" href="{{ printf `%s.svg` . | absURL }}" />
  {{ end }}

  <!-- Favicon -->
  <link rel="icon" href="{{ `favicon.ico` | absURL }}" />
  <link rel="apple-touch-icon" href="{{ `apple-touch-icon.png` | absURL }}" />

  <!-- Generator -->
  {{ hugo.Generator }}

  <!-- RSS -->
  {{ range .AlternativeOutputFormats }}
  <link
    rel="{{ .Rel }}"
    type="{{ .MediaType.Type }}"
    href="{{ .Permalink }}"
    title="{{ site.Title }}"
  />
  {{ end }}

  <!-- Misc -->
  {{ if or hugo.IsProduction (eq site.Params.env "production") }}
  <!---->
  {{ template "_internal/opengraph.html" . }}
  <!---->
  {{ template "_internal/schema.html" . }}
  <!---->
  <!-- {{ template "_internal/twitter_cards.html" . }} -->
  <!---->
  {{ end }}

<!-- Heap Analytics snippet -->
<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
  heap.load("1992411346");
</script>
<!-- END Heap Analytics snippet -->

</head>
